<div class="container">
  <div>
    <h1 class="title">
      Quaranteam<br />
      Leaderboard
    </h1>
  <div>

    <div class="data-range-container">
      <div class="date-range">
        Date<br />
        range
      </div>

      <div class="date-range-dates">
        2022-03-29<br />
        2022-04-29
      </div>
    </div>

    <% @records.each do |r| %>
      <div class="records-container">
        <div>
          <div class="record-label">
            <%= r[:label] %>
          </div>

          <div class="record-name">
            <%= r[:name] %>
          </div>
        </div>

        <div class="record-right-side">
          <div class="record-number">
            <%= r[:value] %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
