<div class="container">
  <div>
    <h1 class="title">
      Quaranteam<br />
      Leaderboard
    </h1>
  <div>

    <div class="data-range-container">
      <div class="date-range">
        Date<br />
        range
      </div>

      <div class="date-range-dates">
        2022-03-29<br />
        2022-04-29
      </div>
    </div>

    <div class="records-container">
      <div>
        <div class="record-label">
          Sent Messages
        </div>

        <div class="record-name">
          Alexander Profeit
        </div>
      </div>

      <div class="record-right-side">
        <div class="record-number">
          45
        </div>
      </div>
    </div>

    <div class="records-container">
      <div>
        <div class="record-label">
          Reacted
        </div>

        <div class="record-name">
          Yannis
        </div>
      </div>

      <div class="record-right-side">
        <div class="record-number">
          17
        </div>
      </div>
    </div>
  </div>


  <div class="record">
    <div class="label-and-winner">
    </div>

    <div class="number">
    </div>
  </div>

</div>
